{
  "presets": [
    "env", 
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-es2015-classes",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": ["react"]
    }
  }
}
